.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 45px;
}
* {
  overflow: hidden;
}
h2 {
  font-size: 26px;
  margin: 0 auto;
  text-align: center;

  max-width: 150px;
  padding: 10px;
}
.colored {
  height: 200px;
  position: relative;
  width: 300vh;
}

img {
  max-width: 300px;
  margin: 0 auto;
}

.country-flag {
  width: 35px;
  margin-bottom: 15px;
}

.container-info {
  max-width: max-content;
  padding: 15px 30px;
  margin: 20px auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.color-container {
  z-index: -1;
  position: absolute;
  top: 146px;
  width: 100%;
  max-height: 700px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 40px;

  button:hover {
    background-color: #ddd;
  }

  button.active {
    background-color: #ccc;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 30%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 20%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
