<div class="tournament-container">
  <div class="tournament-brackets">
    <ul
      *ngFor="let matchesGroup of matches; let i = index"
      class="bracket bracket-{{ i }}"
    >
      <li *ngFor="let match of matchesGroup" class="team-item">
        <app-team-brackets-match
          *ngIf="currentCompetition === 'WC' || match?.stage === 'FINAL'"
          [match]="match"
        ></app-team-brackets-match>
        <app-team-brackets-match
          *ngIf="currentCompetition !== 'WC' && match?.stage !== 'FINAL'"
          [match]="match[0]"
        ></app-team-brackets-match>
        <app-team-brackets-match
          *ngIf="currentCompetition !== 'WC' && match?.stage !== 'FINAL'"
          [match]="match[1]"
        ></app-team-brackets-match>
      </li>
    </ul>
  </div>
</div>
