<div class="container-selector">
  <mat-form-field appearance="standard">
    <mat-label>{{ "ChooseCompt" | translate }}</mat-label>
    <mat-select [(value)]="currentCompetition" (selectionChange)="onSelected()">
      <mat-option
        *ngFor="let competition of competitions"
        value="{{ competition.code }}"
      >
        <img
          width="25px"
          src="{{ competition?.emblem }}"
          alt="{{ competition.code }} logo"
        />
        {{ competition.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>{{ "ChooseLang" | translate }}</mat-label>
    <mat-select [(value)]="currentSeason" (selectionChange)="onSelected()">
      <mat-option *ngFor="let season of seasons" value="{{ season }}">
        {{ season }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container-table">
  <table class="styled-table">
    <thead>
      <tr>
        <th></th>
        <th>Club</th>
        <th>PJ</th>
        <th (click)="onSortBy($event)" class="eventSort" id="Pts">Pts</th>
        <th (click)="onSortBy($event)" class="eventSort" id="winLabel">
          {{ "W" | translate }}
        </th>
        <th (click)="onSortBy($event)" id="drawLabel" class="eventSort">
          {{ "D" | translate }}
        </th>
        <th (click)="onSortBy($event)" class="eventSort" id="lostLabel">
          {{ "L" | translate }}
        </th>
        <th (click)="onSortBy($event)" class="eventSort" id="GFLabel">
          {{ "GF" | translate }}
        </th>
        <th (click)="onSortBy($event)" class="eventSort" id="GALabel">
          {{ "GA" | translate }}
        </th>
        <th>{{ "Form" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams" class="teamRow">
        <td>{{ team.position }}</td>
        <td class="tooltip">
          <img
            src="{{ team.team.crest }}"
            alt="{{ team.team.name }} logo"
            (click)="goToTeam(team.team.id)"
          />
          <span class="tooltiptext">{{ team.team.name }}</span>
        </td>
        <td>{{ team.playedGames }}</td>
        <td class="points">{{ team.points }}</td>
        <td>{{ team.won }}</td>
        <td>{{ team.draw }}</td>
        <td>{{ team.lost }}</td>
        <td>{{ team.goalsFor }}</td>
        <td>{{ team.goalsAgainst }}</td>
        <td class="lastFive">
          <div *ngFor="let match of team.form">
            <div *ngIf="match === 'W'" class="victory">
              {{ "W" | translate }}
            </div>
            <div *ngIf="match === 'L'" class="defeat">
              {{ "L" | translate }}
            </div>
            <div *ngIf="match === 'D'" class="draw">{{ "D" | translate }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
